<div class="box">
  <header>
    <h1><%= @balance.cc_name %></h1>
  </header>

  <header>
    <h2><%= @issue.name %></h2>
  </header>

  <header>
  	<%= link_to "Edit Issue", [:edit, @balance, @issue], class: "edit" %>      	
  </header>

  <%= simple_format(@issue.description) %>
</div>