<h1 class="title">Welcome to the Credit Card Balance Tracker</h1>
<%= link_to "Add New Balance Information", new_balance_path,
    class: "new" %>

<header>
  <h2 class="subtitle">Card Balances</h2>  
</header>

<div id="balances">
  <% @balances.each do |balance| %>
    <h3><%= link_to balance.cc_name, balance %></h3>
    <p><%= balance.cc_balance %></p>
  <% end %>
</div>