<h1 class="title">Welcome to the Credit Card Balance Tracker</h1>
<%= link_to icon("fas", "plus", "Add New Balance Information"), new_balance_path, class: "button is-primary" %>

<h2 class="subtitle">Card Balances</h2>

<div id="balances">
  <% @balances.each do |balance| %>
    <h3><%= link_to balance.cc_name, balance %></h3>
    <p><%= balance.cc_balance %></p>
  <% end %>
</div>