<% title(@balance.cc_name, "Balances") %>

<h1><%= @balance.cc_name %></h1>
<%= link_to "Edit Balance", edit_balance_path(@balance) %>
<p><%= @balance.cc_balance %></p>
<p><%= @balance.cc_due_date %></p>
